
.desktop-container {
    background: url('./images/pexels-cottonbro-7674492.png') center/cover no-repeat;
    position: relative;
    min-width: 1440px;
    min-height: 950px;
    display: flex;
    flex-direction: column;
    
    
}

.background-layer {
    background: url('./images/Rectangle\ 6.png') center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
    
}


.image-container {
    display: flex;
    justify-content: space-between;
    margin-right: 62px;
    margin-left: 42px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.any_text {
    max-width: 581px;
    max-height: 20px;
    margin-top: 65px;
}

.phoneNumber {
    max-width: 120px;
    max-height: 15px;
    margin-top: 65px;
}

.orangeRectangle {
    position: absolute;
    z-index: 2;
    left: 75%;
}

.whiteRectangle {
    position: absolute;
    z-index: 2;
    left: 73%;
}

.secOrangeRectangle {
    position: absolute;
    top: 51.79%;
    z-index: 3;
}

.secWhiteRectangle {
    position: absolute;
    top: 68.95%;
    z-index: 3;
}

.darkRectangle {
    position: absolute;
    top: 57.26%;
    z-index: 1;
}
.centered-content {


    display: flex;
    flex-direction: column;

    align-items: center;


}

.centered-content h2, .centered-content p, .centered-content img {
    margin: 0;
}


.centered-content h2 {

    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 106.25% */    




}

.centered-content p {
    margin-top: 35px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.centered-content img {
    margin-top: 35px;
    max-width: 100%;
    height: auto;
    max-width: 290px;
    max-height: 68px;

}

.bottom-header {
    position: relative;
    margin-bottom: 51px;
}

.center-element {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 31px;
    height: 31px;
}

.right-elements {
    position: absolute;
    right: 63px;
    display: flex;
    align-items: center;
    
}

.inst-logo {
    width: 22px;
    height: 22px;
}

.vk-logo {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.aboutUs {
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    min-width: 1440px;
    position: relative;
    z-index: 0;

}

.twophoto {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1172px;
    min-height: 472px;
    margin-left: auto;
    margin-right: auto;
}

.womanSit {
    width: 307px;
    height: 432px;
    flex-shrink: 0;
    align-self: flex-start;

}

.noWoman {
    width: 307px;
    height: 432px;
    flex-shrink: 0;
    margin-top: 40px;
}

.newLifeStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 72px;


}
.HeadNewLife {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */
}

.BecomePart {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 454px;

}

.whiteGetConsultation {
    margin-top: 42px;
    width: 280px;
    height: 60px;
    flex-shrink: 0;
}

.yellowImages {
    display: flex;
    justify-content: space-between;
    margin: 100px 60px 0 60px;
}

.bikeImg {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.bikeTxt {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
    margin-left: 25px;
}

.bikeTrain {
    display: flex;
    align-items: center;
}

.crossBikeTrain {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F7931E;
}

.gallery {
    margin-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */
}

.galleryPeople {
    margin: 100px 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstPhoto {
    width: 266.86px;
    height: 375px;
}

.secondPhoto {
    width: 266.86px;
    height: 375px;
}

.thirdPhoto {
    width: 266.86px;
    height: 375px;
}

.fourthPhoto {
    width: 266.86px;
    height: 375px;
}

.backArrow {
    max-width: 40px;
    max-height: 40px;
}

.forwardArrow {
    max-width: 40px;
    max-height: 40px;
}

/* Для экранов шириной менее 768px */
@media (max-width: 768px) {
    .backArrow, .forwardArrow, .secondPhoto, .thirdPhoto, .fourthPhoto {
        visibility: hidden;
    }
}


.scrollBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollBar {
    width: 1000px;
    height: 4px;
    flex-shrink: 0;
}

.galleryPlaces {
    margin: 60px 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstPlace {
    width: 361.714px;
    height: 300px;
    flex-shrink: 0;
}

.secondPlace {
    width: 361.714px;
    height: 300px;
    flex-shrink: 0;
}

.thirdPlace {
    width: 361.714px;
    height: 300px;
    flex-shrink: 0;
}

.threePhoto {
    display: flex;
width: 1162px;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
}

.fourPhoto {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

@media (max-width: 768px) {
    .backArrow, .forwardArrow, .secondPlace, .thirdPlace  {
        visibility: hidden;
    }
}

.SecScrollBarContainer {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUsYellowRec {
    position: absolute;
    z-index: 2;
    flex-shrink: 0;
    bottom: 0; /* Чтобы элемент был прижат к верхней границе .aboutUs */
    left: 0;
}
.aboutUsWhiteRec {
    position: absolute;
    z-index: 2;
    flex-shrink: 0;
    bottom: 34px; /* Чтобы элемент был прижат к верхней границе .aboutUs */
    left: 0;
}

.schedule {
    margin: 100px 70px 100px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    min-width: 1440px;


}

.abonementsTitle {
    width: 216px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */
    align-self: center;    
    
}

.numberOfClassesBlock {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgray solid 2px;
    min-width: 1125px;
    margin-top: 80px;

}

.numberOfClasses {
    width: 156px;
    color: #0C1417;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */    
}

.oneTrain {
    width: 137px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */   
 
}

.fourTrains {
    width: 157px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.eightTrains {
    width: 141px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */        
}

.twelveTrains {
    width: 147px;
    color: #F7931E;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.abonements {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Добавьте это, чтобы выровнять текст по центру */

}



.personnalTrainBlock {
    display: flex;
    justify-content: space-between;

    min-width: 1125px;
    margin-top: 80px;
}
.personnalTrain {
    width: 156px;
    color: #F7931E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */      
    text-align: start;  
}

.sevenHundred {
    width: 137px;
    color: #0C1417;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */    
}

.twentySix {
    width: 157px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.fiftyTwo {
    width: 141px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */    
}

.seventyTwo {
    width: 147px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */    
}

.gymTrain {
    width: 156px;
    color: #0C1417;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */      
    text-align: start;      
}

.gymMinus {
    width: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thoThousand {
    width: 147px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */  
}

.groupTrain {
    width: 156px;
    color: #0C1417;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */      
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.abonementsTimeTitle {
    margin-top: 90px;
    width: 315px;    
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */    
}

.cardTypes {

    display: flex;
    justify-content: space-between;
    border-bottom: lightgray solid 2px;
    min-width: 1125px;
    margin-top: 80px;
}

.cardType {
    width: 232px;
    color: #0C1417;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    text-align: start;    
}

.twelveMonths {
    width: 181px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.sixMonths {
    width: 108px;
    color: #F7931E;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.threeMonths {
    width: 88px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.oneMonth {
    width: 85px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */    
}

.IndWithoutLimBlock {
    display: flex;
    justify-content: space-between;
    min-width: 1125px;
    margin-top: 80px;
}

.IndWithoutLim {
    width: 232px;
    color: #F7931E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */      
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.eightThousands {
    width: 181px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.twelveThousand {
    width: 108px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    display: flex;
    align-items: center; 
    justify-content: center;       
}

.sevenThousand {
    width: 88px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.thoThousandFive {
    width: 85px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */    
    display: flex;
    align-items: center;
    justify-content: center;
}

.indDaily {
    width: 232px;
    color: #0C1417;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */      
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

.minusInd {
    width: 181px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nineFive {
    width: 108px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    display: flex;
    align-items: center; 
    justify-content: center;     
}

.fiveFive {
    width: 88px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    display: flex;
    align-items: center;
    justify-content: center; 
}

.thoZero {
    width: 85px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */    
    display: flex;
    align-items: center;
    justify-content: center;
}

.aloneTrain {
    margin-top: 90px;
    width: 281px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */    
}

.timeCards {
    display: flex;
    justify-content: space-around;
    min-width: 1125px;
}

.cardContainer {
    width: 308px;
    height: 372px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.cardClockImg {
    width: 34px;
    height: 34px;
    flex-shrink: 0;    
}

.cardTitle {
    width: 267px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */    
}

.cardTime {
    width: 213px;
    color: rgba(12, 20, 23, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */    
}

.cardPrice {
    width: 72px;
    color: #0C1417;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */

}

.numberOfTrains {
    width: 118px;
    color: rgba(12, 20, 23, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.toKnowButton {
    width: 220px;
    height: 50px;
    flex-shrink: 0;    
}

.cardTitleHover {
    width: 267px;
    color: #F7931E;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */    
}

.rightWhiteRectangle {

    position: absolute;
    z-index: 3;
    right: -70px;
    
    top: 624px;

}

.rightBlackRectangle {
    position: absolute;
    z-index: 2;
    right: -70px;
    top: 709px;
}

.rightOrangeRectangle {
    position: absolute;
    z-index: 3;
    right: -70px;
    
    top: 845px;
}

.leftWhiteRectangle {
    position: absolute;
    z-index: 3;
    left: -70px;
    bottom: 507px;
}

.leftBlackRectangle {
    position: absolute;
    z-index: 2;
    left: -70px;
    bottom: 538px;
}

.trainersBlock {
    background-image: url('./images/background.png');
    background-size: cover;
    background-position: center;
    min-width: 1440px;
    position: relative;
    z-index: 0;
    padding: 100px 80px 100px 80px;
}

.trainersPhotoBlock {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.trainersTitle {
    width: 151px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */    
    margin-top: 215px;
}

.ilyaTrainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ilyaImage {
    width: 307px;
    height: 430px;
    flex-shrink: 0;        
}

.ilyaTitle {
    width: 306px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-top: 20px;    
}

.ilyaPersTrainer {
    width: 306px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-top: 15px;    
}

.ilyaInstructor {
    width: 306px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    margin-top: 10px;  
}

.michailImage {
    width: 93px;
    height: 430px;
    flex-shrink: 0; 
}

.trainersButtons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}
.trainerLeftButton {
    width: 26px;
    height: 26px;
    flex-shrink: 0;    
}

.trainerRightButton {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-left: 40px;    
}

.trainerRecatangles {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 20px;
}

.textFormSection {
    background-image: url('./images/pexels-ivan-samkov-4164520.png');
    background-size: cover;
    background-position: center;
    min-width: 1440px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.allTheTextForm {
    padding: 100px 170px 170px 100px;
    display: flex;
    justify-content: flex-end;
}

.textformBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.anyQuestions {
    width: 275px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */    
}

.stayNumber {
    width: 351px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */    
}

.necessaryNetwork {
    color: #F7931E;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;    
}

.getName {
    
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    background: transparent;
    border: none;
    padding-bottom: 15px;    
}

.getNameBlock {
    display: flex;
    justify-content: flex-start;
    width: 351px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

.getNumber {
    
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    background: transparent;
    border: none;
    padding-bottom: 15px;   
}

.getNumberBlock {
    display: flex;
    justify-content: flex-start;
    width: 351px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-top: 25px;
}

.textFormGetConsultation {
    width: 280px;
    height: 60px;
    flex-shrink: 0;
    margin-top: 30px;
}

.policeConf {
    width: 280px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-top: 20px;
}

.map {
    background-image: url('./images/image\ 6.svg');
    background-size: cover;
    background-position: center;
    min-width: 1440px;
    min-height: 567px;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    padding-left: 176px;
}

.contactsBlock {
    position: absolute; 
    width: 396px;
    height: 449px;
    flex-shrink: 0;
    background: #0C1417;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
        

}

.contactsTitle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 113.333% */
    
}

.contactsLocation {
    display: flex;
    
}

.locationText {
    width: 285px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 16px;    
}

.clocksText {
    width: 285px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 16px;    
}

.contactsTime {
    display: flex;
}

.numbersText {
    width: 157px;
    height: 49px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */    
    margin-left: 16px;    
}

.phoneNumbers {
    display: flex; 
}

.subscribeToUs {
    width: 302px;
    height: 23px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */        
}

.socNetworks {
    display: flex;
    align-items: center;

}

.vkImage {
    margin-left: 15px;
}

.footer {
    background-image: url('./images/Rectangle\ 80.svg');
    background-size: cover;
    background-position: center;
    min-width: 1440px;

    width: 100%;
    position: relative;
    z-index: 0;
}

.footerThings {
    display: flex;
    justify-content: space-around;
}

.rightsAllowed {
    width: 195px;
    height: 24px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    display: flex;
    justify-content: space-between;        
}